<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login-Page</title>
  </head>
  <link rel="stylesheet" href="{% static "css/project1.css" %}">
  <body>
    <div class="login">
      <form class="uname" method="post">
        {% csrf_token %}
        <label class="label" > <b>User Name:</b></label>
        <input type="text" name="username" id="uname" placeholder="type username" required><br /><br />
        <label class="label" > <b>Password:</b></label>
        <input type="password" name="password" id="pass" placeholder="password here" required><br /><br />
        <input type="submit" name="log" id="log" value="login here"><br /><br />
        <input type="checkbox" id="check">
        <span class="label">Remember me.</span><br /><br />
        <h3 class="label"> Forget<a href="#">Password</a></h3><br /><br />
      </form>
    </div>
  </body>
</html>
